<!-- views/login.handlebars -->
  <link rel="stylesheet" href="/css/style.css">
<style>

</style>

<head>
  <title>GreenCheck Login</title>
</head>
<h1 class= "text-center" style = "color:white;"></h1>


    {{#if error}}
      <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info">{{notice}}</p>
    {{/if}}

 
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/local-reg" method = "POST" style = "display:inline-table;">
			<h2>Create An Account</h2>
			<input type="text" name = 'username' id = 'signup-username' placeholder="Username" required/>
			<input type="text" name = 'firstname' id = 'signup-firstname' placeholder="First Name" required/>
			<input type="text" name = 'lastname' id = 'signup-lastname'placeholder="Last Name" required/>
			<input type="email" name = 'email' id = 'signup-email' placeholder="Email" required/>
			<input type="password" name = 'password' id = 'signup-password' placeholder="Password" required/>
<br>
<br>
    <label class="radio-inline">
      <input type="radio" name="teacherStatus" value = '0' checked> <b>Student</b>
    </label>
    <label class="radio-inline">
      <input type="radio" name="teacherStatus" value = '1' > <b>Educator</b>
    </label>
<br>
<br>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method = 'POST'>
			<h1>Sign in</h1>
			<input type="username" name = "username" placeholder="Username" required/>
			<input type="password" name = "password" placeholder="Password" required/>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>I have an account!</h1>
				<p>Enter your personal details and earn points!</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Don't have an account?</h1>
        <p>Sign up for FREE to start your journey with us!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
 </script> 


  
